
body {
    font-family: 'Josefin Sans', sans-serif;    
    display: table-cell;
    vertical-align: middle;
    background-image: url('images/bg-pattern-desktop.svg');
}
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

    footer a {
        border-bottom: white 1px solid;
    }
